h1 {
    font-size: 36px;
    margin: 30px 0 20px 0;
    font-weight: 400;
    font-style: italic;
    color: rgba(0, 0, 0, 0.7);
}
p {
    line-height: 26px;
    word-spacing: 2px;
    margin: 10px 0;
    color: rgba(0, 0, 0, 0.75);
}